body{
  margin: 0;
  background-color: #6ECCAF;

    background-size: 10px 10px;
    /* background-image: conic-gradient(
      #28487d 90deg,
      #28487d 90deg 180deg,
      #617ca2 180deg 270deg,
      #28487d 270deg
    ); */

}
